/* SITE FONTS */
/* JOST */
@font-face {
    font-family: 'Jost';
    src: url('../fonts/Jost-Regular.woff2') format('woff2'),
        url('../fonts/Jost-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
/* DM SERIF DISPLAY */
@font-face {
    font-family: 'Serif Display';
    src: url('../fonts/DMSerifDisplay-Regular.woff2') format('woff2'),
        url('../fonts/DMSerifDisplay-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


/* CUSTOM PROPERTY */
:root {
    /* FONTS */
    --serif: "Serif Display", "Georgia", serif;
    --jost: "Jost", "Arial", sans-serif; 

    /* COLORS */
    --color-primary: #cda274;
    --color-secondary: #292f36;
    --color-white: #fff;
    --color-text: #4d5053;

    /* BACKGROUND COLOR */
    --gray-bg-color: #f4f0ec;
    --white-bg-color: #fff;
    --blue-bg-color: #292f36;
}

/* GLOBAL STYLES */
*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*:focus {
    outline: 1px dashed var(--color-primary);
    outline-offset: 2px;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

h1 {
    margin: 0;
}

a {
    text-decoration: none;
}

button {
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
}

ul {
    list-style: none;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    height: 100%;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: var(--jost);
    font-weight: 400;
    font-size: 2.2rem;
    line-height: 1.5;
    letter-spacing: 0.01em;
    color: var(--color-text);
    background-color: var(--white-bg-color);
}

.container {
    width: 100%;
    max-width: 1240px;
    padding: 0px 2rem;
    margin: 0px auto;
}

/* section title */
.section-title {
    font-family: var(--serif);
    font-weight: 400;
    font-size: 2.5rem;
    line-height: 1.56;
    letter-spacing: normal;
    color: var(--color-secondary);
}


/* SITE HEADER STYLES */
.header {
    padding: 2.8rem 0;
}
.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.site-logo {
    display: flex;
}
.site-logo:hover {
    opacity: 0.8;
}
.site-logo__img {
    width: 177px;
    height: 50px;
    object-fit: contain;
    object-position: center;
}
.sitenav__list {
    display: flex;
    align-items: center;
}
.sitenav__item:not(:last-child) {
    margin-right: 4rem;
}
.sitenav__link {
    font-size: 2rem;
    line-height: 1.5;
    letter-spacing: 0.05em;
    color: var(--color-secondary);
}
.sitenav__link:hover {
    color: var(--color-primary);
}
.bars-btn {
    display: none;
}
.bars-btn__img {
    width: 30px;
    height: 30px;
}


/* MAIN STYLES */
.main {
    flex-grow: 1;
}

/* HERO STYLES */
.hero {
    padding: 18.8rem 0px 26rem;
    background-image: url("../images/jpg/hero-bg-img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.hero__container {
    display: flex;
    align-items: center;
}
.hero__text-wrapper {
    width: 100%;
    max-width: 600px;
}
.hero__title {
    font-family: var(--serif);
    font-weight: 400;
    font-size: 8rem;
    line-height: 1.2;
    letter-spacing: 0.002em;
    color: var(--color-secondary);
    margin-bottom: 1.9rem;
}
.hero__text {
    letter-spacing: 0.01em;
    margin-bottom: 3.5rem;
}
.hero__btn {
    padding: 1.7rem 1.9rem 1.6rem 3.5rem;
}
.site-btn {
    border-radius: 1.8rem;
    background-color: var(--blue-bg-color);
    display: inline-flex;
    align-items: center;
    font-size: 1.8rem;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--color-white);
    border: 2px solid var(--blue-bg-color);
    transition: all .2s ease;
}
.site-btn:active {
    opacity: 0.6;
}
.site-btn:hover {
    background-color: transparent;
    color: var(--blue-bg-color);
}
.site-btn:hover .site-btn__icon {
    animation: arrowAnimation 2s linear;
}
.site-btn:hover .site-btn__icon svg path {
    stroke: var(--blue-bg-color);
}
.site-btn__icon {
    display: flex;
    align-items: center;
    margin-left: 2.5rem;
}
.site-btn__icon svg:first-child {
    margin-right: -13px;
}
@keyframes arrowAnimation {
    0% {
        transform: translate(0);
    }
    10% {
        transform: translateX(5px);
    }
    20% {
        transform: translateX(-2px);
    }
    30% {
        transform: translateX(3px);
    }
    40% {
        transform: translateX(-1px);
    }
    50% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(0);
    }
}

/* INFORMATION SECTION STYLES */
.information {
    margin-top: 10rem;
    margin-bottom: 10rem;
    padding: 7.5rem 4.2rem 7rem;
}
.information__list {
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.information__item {
    width: 100%;
    max-width: 297px;
}
.information__item:nth-child(1) {
    width: 100%;
    max-width: 317px;
}
.information__title {
    margin-bottom: 1.7rem;
    letter-spacing: 0.008em;
}
.information__item:not(:last-child) {
    margin-right: 2rem;
}
.information__text {
    margin-bottom: 3.5rem;
}
.information__item:first-child .information__text {
    margin-bottom: 6.8rem;
}
.information__link {
    display: inline-flex;
    align-items: center;
    font-size: 1.8rem;
    font-weight: 400;   
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-text);
}
.information__link span {
    margin-right: 0.8rem;
}
.information__link img {
    width: 24px;
    height: 17px;
    object-fit: contain;
    object-position: center;
}
.information__link:hover img {
    animation: arrowAnimation 2s linear;
}





/* RESPONSIVE */
@media only screen and (max-width: 1200px) {
    
}

@media only screen and (max-width: 1095px) {
    .information__list {
        flex-wrap: wrap;
    }
    .information__item:last-child {
        margin-left: auto;
        margin-right: auto;
        margin-top: 2rem;
    }
    .information__item:not(:last-child) {
        margin-right: 0;
    }
    .information__item:first-child {
        margin-right: 2rem;
    }
    .information__item:first-child .information__text {
        margin-bottom: 3.5rem;
    }
}

@media only screen and (max-width: 992px) {
    .hero__text {
        text-shadow: 0px 0px 3px #fff;
    }
}

@media only screen and (max-width: 776px) {
    .information__list {
        flex-direction: column;
        align-items: center;
    }
    .information__item {
        width: 100%;
        max-width: 600px;
    }
    .information__item:first-child {
        margin-right: 0;
        width: 100%;
        max-width: 600px;
    }
    .information__item:last-child {
        margin: 0;
    }
    .information__item:not(:first-child) {
        margin-top: 3rem;
    }
    .information__text {
        margin-bottom: 2rem;
    }
    .information__item:first-child .information__text {
        margin-bottom: 2rem;
    }
}

@media only screen and (max-width: 768px) {
    .sitenav {
        display: none;
    }
    .bars-btn {
        display: block;
    }
    .hero__title {
        font-size: 6.9rem;
    }
    .hero__text {
        font-size: 2rem;
        width: 100%;
        max-width: 450px;
    }
}

@media only screen and (max-width: 576px) {
    .hero {
        padding: 14rem 0px 20rem;
    }
    .hero__title {
        font-size: 5.5rem;
    }
    .hero__text {
        max-width: 400px;
    }
    .information {
        padding: 0rem;
    }
}

@media only screen and (max-width: 480px) {
    html {
        font-size: 55%;
    }
    .site-logo__img {
        width: 150px;
        height: 40px;
    }
    .hero__btn {
        padding: 1.2rem 1.4rem 1.2rem 3rem;
    }
    .hero {
        text-align: center;
    }
    .hero__title {
        font-size: 5rem;
        text-align: center;
    }
    .hero__text {
        font-size: 1.8rem;
        text-align: center;
    }
}

@media only screen and (max-width: 370px) {

}

